#parent{
  width: 300px;
  border: 2px solid black;
  border-radius: 30px;
  height: 25px;
  box-sizing: border-box;
}

#child{
  padding: 0;
  width: 0%;
  height: 20px;
  border-radius: 30px;
  background-color: red;
  animation-name: example1;
  animation-duration: 4s;
}

@keyframes example1{
 from{
  width: 0;
 }
 to{
  width: 100%;
 }
}

@keyframes example2{
  0%   {width: 0;}
  25%  {width: 25%;}
  50%  {width: 50%;}
  75%  {width: 75%;}
  100% {width: 100%;}
}